<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/hitan/IdeaProjects/APIAutomationFramework"><classes><class name="org.example.NonBDD_POST"><methods><include name="testNonBDDPOSTRequest"/></methods></class><class name="org.example.Tests.CRUD.CreateBooking"><methods><include name="testCreateBooking"/><include name="testCreateBookingNegative"/></methods></class><class name="org.example.Tests.Integration.TCIntegration1"><methods><include name="testCreateBooking"/><include name="testVerifyBookingByID"/><include name="testUpdateBookingByID"/><include name="testDeleteBookingByID"/></methods></class></classes></test></suite>